* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 700px;

  &-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;

    p {
      font-size: 25px;
      font-family: "Rethink Sans", sans-serif;
      color: rgba(128, 128, 128, 0.678);
    }

    h1 {
      font-size: 40px;
      font-family: "Rethink Sans", sans-serif;
      font-weight: 100;
    }
  }
  &-flex {
    width: 1400px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 50px;

    .Products-holder {
      transition: 0.4s;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      img {
        height: 350px;
        width: 100%;
        clip-path: polygon(0% 0, 0 100%, 380% 0);
        object-fit: cover;
      }
      .Products-info {
        padding: 25px 50px;
        text-align: justify;
        display: flex;
        gap: 20px;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        font-family: "Rethink Sans", sans-serif;
        p {
          font-size: 16px;
        }
        .desc {
          font-weight: 600;
          font-size: 25px;
        }
      }
      &:hover {
        transition: 0.4s;
        transform: scale(1.1);
        border: none;
        color: white;
        background-color: black;
      }
    }
  }
}
